{% extends 'base.html.twig' %}

{% block title %}Venues!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Kyiv clubs and party venues</h1>

    <div class="row">
        {% for venue in pager %}
            <div class="col-12">
                <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                    <div class="q-container p-4">e
                        <div class="row">
                            <div class="col-2 text-center">
                                <img src="{{ asset('images/richie.png') }}" width="100" height="100" alt="Tisha avatar">
                                <div class="d-block mt-3 vote-arrows">
                                    <span>{{ party.votesString }} votes</span>
                                    <br>
                                    {% for partyTag in party.partyTags %}
                                        <span class="badge rounded-pill bg-light text-dark">{{ party.tag.name }}</span>
                                    {% endfor %}
                                    {#                                        <a class="vote-up" href="#"><i class="far fa-arrow-alt-circle-up"></i></a>#}
                                    {#                                        <a class="vote-down" href="#"><i class="far fa-arrow-alt-circle-down"></i></a>#}
                                </div>
                            </div>
                            <div class="col">
                                <a class="q-title" href="{{ path('app_party_view', { slug: party.slug }) }}"><h2>{{ party.name }}</h2></a>
                                <div class="q-display p-3">
                                    <i class="fa fa-quote-left mr-3"></i>
                                    <p class="d-inline">{{ party.description }}</p>
                                    <p class="pt-4"><strong>Kyiv Rave</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="answer-link" href="{{ path('app_party_view', { slug: party.slug }) }}" style="color: #fff;">
                        <p class="q-display-response text-center p-3">
                            <i class="fa fa-magic magic-wand"></i> {{ party.approvedComments|length }} comments
                        </p>
                    </a>
                </div>
            </div>
        {% endfor %}

        {{ pagerfanta(pager) }}
    </div>
</div>
{% endblock %}
