<li class="mb-4">
    {% if showParty|default(false) %}
    <a
        href="{{ path('app_party_view', {
            slug: comment.party.slug
        }) }}"
        class="mb-1 link-secondary"
        >
        <strong>Party:</strong>
        {{ comment.partyText|u.truncate(80, '...') }}
    </a>
    {% endif %}
    <div class="row">
        <div class="col-1">
            <img src="{{ asset('images/raver.png') }}" width="50" height="50" alt="Tisha avatar">
        </div>
        <div class="col-9">
            {{ comment.content }}
            <p>-- {{ comment.username }}</p>
        </div>
        <div class="col-2 text-end">
            <small>{{ comment.createdAt|ago }}</small>
            <div
                    class="vote-arrows"
                    {{ stimulus_controller('comment-vote', {
                        url: path('comment_vote', {
                            id: comment.id
                        })
                    }) }}
            >
                <button
                        class="vote-up btn btn-link"
                        name="direction"
                        value="up"
                        {{ stimulus_action('comment-vote', 'clickVote') }}
                ><i class="far fa-arrow-alt-circle-up"></i></button>
                <button
                        class="vote-down btn btn-link"
                        name="direction"
                        value="down"
                        {{ stimulus_action('comment-vote', 'clickVote') }}
                ><i class="far fa-arrow-alt-circle-down"></i></button>
                <span><span {{ stimulus_target('comment-vote', 'voteTotal') }}>{{ comment.votes }}</span></span>
            </div>
        </div>
    </div>
</li>