{% extends 'base.html.twig' %}

{% block title %}Popular Comments{% endblock %}

{% block body %}
    <div class="container my-md-4">
        <div class="d-flex justify-content-between">
            <h1>Most Popular Comments</h1>
        </div>

        <form action="{{ path('app_popular_comments') }}">
            <input
            type="search"
            name="q"
            value="{{ app.request.query.get('q') }}"
            class="form-control"
            placeholder="Search..."
            aria-label="Search"
            >
        </form>

        <ul class="list-unstyled"
            {% for comment in comments %}
                {{ include('comment/_comment.html.twig', {
                    showParty: true
                }) }}
            {% endfor %}
        >
        </ul>
    </div>
{% endblock %}