{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron-img jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Party list</h1>
            <p class="lead">All the Kyiv parties scheduling this week!</p>
        </div>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-question">Party schedule</button>
            </div>
        </div>
        <div class="row">
            {% for party in pager %}
                <div class="col-12">
                    <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                        <div class="q-container p-4">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="{{ asset('images/richie.png') }}" width="100" height="100" alt="Tisha avatar">
                                    <div class="d-block mt-3 vote-arrows">
                                        <span>{{ party.votesString }} votes</span>
                                        <br>
                                        {% for tag in party.tags %}
                                            <span class="badge rounded-pill bg-light text-dark">{{ tag.name }}</span>
                                        {% endfor %}
{#                                        <a class="vote-up" href="#"><i class="far fa-arrow-alt-circle-up"></i></a>#}
{#                                        <a class="vote-down" href="#"><i class="far fa-arrow-alt-circle-down"></i></a>#}
                                    </div>
                                </div>
                                <div class="col">
                                    <a class="q-title" href="{{ path('app_party_view', { slug: party.slug }) }}"><h2>{{ party.name }}</h2></a>
                                    <div class="q-display p-3">
                                        <i class="fa fa-quote-left mr-3"></i>
                                        <p class="d-inline">{{ party.description }}</p>
                                        <p class="pt-4"><strong>Kyiv Rave</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="answer-link" href="{{ path('app_party_view', { slug: party.slug }) }}" style="color: #fff;">
                            <p class="q-display-response text-center p-3">
                                <i class="fa fa-magic magic-wand"></i> {{ party.approvedComments|length }} comments
                            </p>
                        </a>
                    </div>
                </div>
            {% endfor %}

            {{ pagerfanta(pager) }}
        </div>
    </div>
{% endblock %}